<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
      <div class="modal-body">
       
       <div>
        <h1 class="hn be gs">How to deploy Angular application CICD using Github, CodeBuild, CodePipeline and Lambda</h1>
        <h4>What is CodePipeline</h4>
        <p>AWS CodePipeline is a continuous delivery service you can use to model, visualize, and automate the steps required to release your software. You can quickly model and configure the different stages of a software release process. CodePipeline automates the steps required to release your software changes continuously</p>
       </div>
      </div>
    </div>
  </div>
</div>
