.modal-body{
    padding:50px
}
.hn{
    font-size: 30px;
    margin-bottom: 20px;
}
.be {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.gs {
    font-weight: 700;
    color: #242424;
}
.h4, h4 {
    font-size: 24px;
    font-weight: 500;
    margin: 10px 0px;
    color:rgb(33, 37, 41);
    font-family:"Segoe UI", Tahoma, Geneva, Verdana, sans-serif ;
    text-transform: none;
}