<section id="about" class="about">
    <div class="section-heading text-center">
        <h2>about me</h2>
    </div>
    <div class="container">
        <div class="about-content">
            <div class="row">
                <div class="col-sm-6">
                    <div class="single-about-txt">
                        <h3>
                            I am an enthusiastic engineer who takes initiative and has strong problem-solving and analytical skills.
                        </h3>
                        <p>
                            With almost 10 Years of professional experience in Full Stack Dot Net development, I have skills of leading design and development large scale projects. My expertise in C#, ASP.NET MVC, ASP.NET Core Web API, MS SQL Server, Entity Framework, React, Angular, Azure DevOps, Microservice, OAUTH ,  and AWS is truly impactful. Having team lead experience and collaborative team member who streamlines development and implementation by troubleshooting, analyzing and reviewing Code. I also have excellent academic knowledge of Java, Spring and Node. With all this expertise, professional and personal, making me an asset to any team or project. I am a team player ; quick learner and I have worked in a multicultural environment.
                        </p>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="single-about-add-info">
                                    <h3>phone</h3>
                                    <p>641-233-9075</p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="single-about-add-info">
                                    <h3>email</h3>
                                    <p>lalinmail&#64;gmail.com</p>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="single-about-add-info">
                                    <h3>website</h3>
                                    <p>mohammad-hassan.site</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-offset-1 col-sm-5">
                    <div class="single-about-img">
                        <img src="assets/images/about/profile_image.jpg" alt="profile_image">
                        <div class="about-list-icon">
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/mmhlalin" target="_blank">
                                        <i  class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                </li><!-- / li -->
                                <li>
                                    <a href="https://github.com/mhasssan-git" target="_blank">
                                        <i  class="fa fa-github" aria-hidden="true"></i>
                                    </a>
                                    
                                </li><!-- / li -->
                                <li>
                                    <a href="https://leetcode.com/mmhassan/" target="_blank">
                                        <i  class="fa fa-code" aria-hidden="true"></i>
                                    </a>
                                    
                                </li><!-- / li -->
                                <li>
                                    <a href="https://www.linkedin.com/in/mhlalin/" target="_blank">
                                        <i  class="fa fa-linkedin" aria-hidden="true"></i>
                                    </a>
                                </li><!-- / li -->                                
                                
                            </ul><!-- / ul -->
                        </div><!-- /.about-list-icon -->

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
