
.item {
    background: rgba(100, 140, 140, 0.1);
}

.dv-img-sm img,
.dv-img-lg img{
    width: 370px;
    object-fit: contain;
}

.dv-img-sm img{
    height: 220px;
}
.dv-img-lg img{
    height: 470px;
}

