<section id="welcome-hero" class="welcome-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="header-text">
                    <h2>hi <span>,</span> i am <br> mohammad <br> hassan <span>.</span>   </h2>
                    <p>FULL STACK C# .NET DEVELOPER</p>
                    <a href="{{env.resumeS3url}}" target="_blank" download>download resume</a>
                </div><!--/.header-text-->
            </div><!--/.col-->
        </div><!-- /.row-->
    </div><!-- /.container-->

</section>
