<section id="blog" class="blog">
  <div class="section-heading text-center">
    <h2>Blog</h2>
  </div>
  <div class="container">
    <div class="blog-content">
      <div class="row">
        <div class="col-sm-12">
          <div class="single-blog-txt">
            <div class="row">
              <div class="col-lg-2 ml-4 mr-4 col-sm-12">
                <div class="row">
                  <div class="mt-4">
                    <img
                      alt="slide"
                      class="d-block w-100 rounder"
                      src="assets/images/blog/awscp.jpg"
                    />
                  </div>
                </div>
                <div class="row" style="padding-left: 10px">
                  <div class="mt-3">
                    <h5>AWS Code Pipeline</h5>
                  </div>
                </div>
                <div class="row" style="padding-left: 10px;padding-top:10px">
                  <div class="mt-2">
                    <h5>
                      <small>
                        Building CI/CD pipeline for angular application</small
                      >
                    </h5>
                  </div>
                </div>
                <div class="row">
                  <div class="mt-2">
                    <span class="text-uppercase"><strong></strong></span>
                  </div>
                </div>
              </div>
              <div class="card-body ml-4 mr-3 mt-4 col-lg-9 col-sm-12">
                <div class="row">
                  <span
                    >AWS CodePipeline is a fully managed continuous delivery
                    service provided by Amazon Web Services (AWS). It automates
                    the process of releasing and deploying applications and
                    infrastructure changes through various stages, from source
                    code to production.By using AWS CodePipeline, development
                    teams can implement a continuous delivery (CD) or continuous
                    integration (CI) approach to software development, allowing
                    for faster and more reliable releases of applications and
                    infrastructure changes. Key features of AWS CodePipeline include:
                    Pipeline Workflow,Integration with Various AWS Services,Source Control Integration,
                    Artifact Management, Automated Testing, Customizable and Extensible,Visualization and Monitoring and scalability. 
                  </span>
                </div>
                <div style="margin-top: 35px">
                  <button data-toggle="modal" data-target="#exampleModal"
                    type="button"
                    class="btn btn-warning"
                  >
                    Read more...
                  </button>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
